@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
$bodyBG : #FAFAFC;
$bodyFG : #000000;
$bodyFG2 : #333;
$bodyFGem : #9C0C0C;
$offsetCol : #FF6C60;
$fs : 14px;